.container {
    max-width:1146px;
    width: 100%;
    margin: 0 auto;
}

/* FORMS */

p {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    color:#5863E3;
    margin: 57px 0 7px;
}

h1 {
    width: 371px;
    height: 112px;
    font-family: Helvetica;
    font-size: 49px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 57px;
    color: #000000;
}


textarea {
    padding: 23px 21px;
    resize: none;
    width: 756px;
    height: 298px;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 2px solid  rgba(213, 211, 211, 0.3);
}


.forms {
    display: flex;
    gap: 20px;
}

::placeholder {
    color: #99999a;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.inputs input {
    padding: 21px 19px;
    width: 370px;
    height: 59px;
    border: 2px solid  rgba(213, 211, 211, 0.3);
}

.inputs :last-child {
    background-color: #5968F4;
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
}

/* Section 1 - Contact Icons*/

.s-1 > h1 {
    margin-left: 144px;
    margin-bottom: 53px;
}

.s-1 > p {
    margin-left: 144px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding-top: 57px;
}

.contacts a {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
}

.contacts label {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    color:#4E4D54;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.mail img {
    width: 41px;
    height: 29px;
    margin: 20px 0 0 13px;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


.phone img {
    width: 51px;
    height: 41px;
    margin: 12px 0 0 9px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.location img {
    width: 23px;
    height: 38px;
    margin: 15px 0 0 23px;
}

.icons {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #5863E3;
}

section h1 {
    width:548px;
    margin-top: 7px;
    size: 49px;
    line-height: 56.35px;
}


/* section photos */

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 39px;
}
.photos img {
    width: 373px; 
    height: 373px;
}


/* Footer */

.footercontainer {
    max-width: 1440 px;
    height:372px;
    background-color:#000000 ;
}

.footerp {
    width: 295px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #99999A;
    margin: 0px;
    margin-bottom: 27px;
}

h2 {
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 33px;
}


.footerflex {
    display: flex;
    justify-content: space-around;
    padding-top: 63px;
}

.footerlinks {
    display: flex;
    gap: 86px;
}

.flex, li {
    display: flex;
    flex-direction: column;
    gap:9px;
}

.flex a {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color:#5863E3;
}

.flex h3 {
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.fa-brands {
    width:38px;
    height:38px;
    /* border-radius: 50%;
    background-color: red; */
}

.flex:last-child a {
    color: white;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;

}

a > img {
    width: 21px;
    height: 15px;
    margin-right: 10px;
}